body {
    width: 100vw;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: forestgreen;
}

#home-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

#home-body > * {
    width: 75%;
}

#home-body * {
    font-size: 30px;
}

#home-body h1 {
    font-size: 60px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.row input {
    flex-grow: 1;
}

#create-room-button {
    flex-grow: 1;
}

#home-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

#home-menu-container .row {
    width: 75%;
}

#chat-box {
    width: 80%;
    height: 80vh;
    border: 3px solid black;
    padding: 1vh;
    overflow-y: scroll;
}

#chat {
    font-size: 14px;
}

#message {
    width: 70%;
    padding: 10px;
    font-size: 14px;
}

#send-message-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}