<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Chat Room Project - Home</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Homepage of my flask-based online chat room project.">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body id="home-body">
    <div class="row">
        <h1>Join or Create a Chat Room!</h1>
    </div>
    <form id="home-menu-container" method="post">
        <div class="row">
            <label for="username">Username:</label>
            <input type="text" name="username">
        </div>
        <div class="row">
            <input type="text" name="room-code">
            <button form="home-menu-container" name="join">Join a Room</button>
        </div>
        <div class="row">
            <button id="create-room-button" form="home-menu-container" name="create">Create a Room</button>
        </div>
    </form>
</body>
</html>